service cloud.firestore {
  match /databases/{database}/documents {

		function isLPA() {
    	return request.auth.token.email.matches('.*@liveperson[.]com')
    }

		match /users/{userId} {
      allow read, write: if isLPA();
    }

		match /accounts/{accountId} {
    	allow read, write: if isLPA();
      match /{allChildren=**} {
      	allow read, write: if isLPA();
      }
    }

  }
}
