<div class="card" id="messages-container">
  <div class="card-body">
    <div class="row">
      <h5 class="card-title col-auto">Conversation Messages</h5>
      <div class="col text-right">
        <i class="fa fa-chevron-left p-1" matTooltip="Previous conversation" style="cursor: pointer;" aria-hidden="true" (click)="cycleConversations(false)"></i>
        <i class="fa fa-chevron-right p-1" matTooltip="Next conversation" style="cursor: pointer;" aria-hidden="true" (click)="cycleConversations(true)"></i>
      </div>
    </div>

    <!-- Conversation subtitle & download button -->
    <span *ngIf="conversation">
      <span class="card-subtitle mb-2 text-muted">{{conversation?.info.conversationId}}
        <i class="p-1 fa fa-download" aria-hidden="true" matTooltip="Export to CSV" (click)="downloadCsv()" style="cursor: pointer;"></i>
      </span>
    </span>
    
    <!-- No conversation message -->
    <app-no-results [results]="conversation" [messagePrimary]="'Select a conversation'"></app-no-results>

    <!-- Message rows -->
    <div class="container-fluid messages-scroll-container p-0" id="messages-scroll-container">
      <div class="row" *ngFor="let row of conversation?.messageRecords">
        <div class="col-12 pt-2">
          <div class="row">
            <div class="col-auto font-secondary">
              {{row?.sentBy}}
            </div>
            <div class="col font-secondary">
              {{row?.time | slice:11:19}}
            </div>
          </div>
          <div class="row">
            <div class="col font-primary" [ngClass]="row?.sentBy === 'Agent' ? 'font-agent' : 'font-consumer'">{{row?.messageData?.msg?.text}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>