<div class="card" id="messages-container">
  <div class="card-body">
    <div class="row">
      <h5 class="card-title col-auto">Conversation Messages</h5>
      <div class="col text-right">
        <i class="fa fa-chevron-left p-1" matTooltip="Previous conversation" style="cursor: pointer;" aria-hidden="true" (click)="cycleConversations(false)"></i>
        <i class="fa fa-chevron-right p-1" matTooltip="Next conversation" style="cursor: pointer;" aria-hidden="true" (click)="cycleConversations(true)"></i>
      </div>
    </div>

    <!-- Conversation subtitle & download button -->
    <span *ngIf="conversation">
      <span class="card-subtitle mb-2 text-muted">ID: {{conversation?.info.conversationId}}
        <i class="p-1 fa fa-download" aria-hidden="true" matTooltip="Export to CSV" (click)="downloadCsv()" style="cursor: pointer;"></i>
      </span>
    </span>

    <!-- No conversation message -->
    <app-no-results [results]="conversation" [messagePrimary]="'Select a conversation'"></app-no-results>

    <!-- Message rows -->
    <div class="container-fluid messages-scroll-container p-0" id="messages-scroll-container">
      <div class="row" *ngFor="let event of messageEvents" [ngSwitch]="event.key">
        <div class="col-12 pt-2">
          <app-message-text *ngSwitchCase="'TEXT_PLAIN'" [message]="event"></app-message-text>
          <app-message-interaction *ngSwitchCase="'INTERACTION'" [interaction]="event"></app-message-interaction>
          <app-message-link *ngSwitchCase="'LINK'" [message]="event"></app-message-link>
          <app-message-participant *ngSwitchCase="'PARTICIPANT'" [participant]="event"></app-message-participant>
          <app-message-transfer *ngSwitchCase="'TRANSFER'" [transfer]="event"></app-message-transfer>
        </div>
      </div>
    </div>
  </div>
</div>