.google {
  cursor: pointer;
  width: 191px;
  height: 46px;
  background: transparent url('/assets/google.png') center top no-repeat;
}

.google:hover {
  background-image: url('/assets/google_focus.png');
}

.login-logo {
  width: 75%;
}