<app-header [apiLogin]="(apiLogin$ | async)"></app-header>
<app-nav [sideNavList]="sideNavList"></app-nav>

<mat-sidenav-container class="main-container">

  <router-outlet></router-outlet>

  <mat-sidenav mode="push" position="start" #sideNavList>
    <app-conversations-list [playlists]="(playlists$ | async)" [playlistSelect]="(playlistSelect$ | async)" [sideNavList]="sideNavList" [conversations]="(conversations$ | async)" [conversationState]="(conversationState$ | async)"></app-conversations-list>
  </mat-sidenav>

</mat-sidenav-container>
