<div class="container-fluid">
  <div class="row mt-2">
    <app-assessments-stats [stats]="(stats$ | async)" [apiLogin]="(apiLogin$ | async)"></app-assessments-stats>
  </div>
  <div class="row no-gutters mt-2">
    <div class="col-12 col-md-5 pr-md-2">
      <div class="row no-gutters">
        <app-assessments-grid [stats]="(stats$ | async)" [dataState]="(playlistState$ | async)" [data]="(playlists$ | async)" [type]="'playlists'"></app-assessments-grid>
      </div>
    </div>

    <div class="col-12 col-md-7 mt-2 mt-md-0">
      <div class="row no-gutters">
        <app-assessments-grid [stats]="(stats$ | async)" [dataState]="(assessmentState$ | async)" [data]="(assessments$ | async)" [type]="'assessments'"></app-assessments-grid>
      </div>
    </div>
  </div>
</div>
