<div class="container-fluid">
  <div class="row no-gutters p-2">
    <div class="col-auto mr-3" (click)="openSideNavList()" matTooltip="Open conversation filter">
      <i class="far fa-filter"></i>
    </div>
    <div class="col-auto mr-3">
      <a class="nav-link p-0" href="#" [routerLink]="['conversations']" routerLinkActive="active">CONVERSATIONS</a>
    </div>
    <div class="col-auto">
      <a class="nav-link p-0" href="#" [routerLink]="['assessments']" routerLinkActive="active">ASSESSMENTS</a>
    </div>
  </div>
</div>
