<div class="modal-header">
  <h4 class="modal-title">Settings</h4>
  <div class="col-1">
    <i class="fa fa-times" aria-hidden="true" (click)="dialogRef.close()"></i>
  </div>
</div>
<div class="modal-body">
  <form #loginForm="ngForm">

    <!-- LE account number -->
    <mat-form-field class="col">
      <input matInput placeholder="LiveEngage Account" name="lpSite" [(ngModel)]="user.account">
    </mat-form-field>

    <!-- LE user name -->
    <mat-form-field class="col">
      <input matInput placeholder="LiveEngage User" name="lpUser" [(ngModel)]="user.username">
    </mat-form-field>

    <!-- LE password -->
    <mat-form-field class="col">
      <input matInput type="password" placeholder="LiveEngage Pass" name="lpPass" [(ngModel)]="user.password">
    </mat-form-field>

    <!-- LiveEngage login/logout buttons -->
    <button class="col" md-raised-button (click)="lelogin()" color="primary" [hidden]="(events$ | async).isLoggedIn" [disabled]="(events$ | async).loggingIn">{{(events$ | async).loggingIn ? 'Logging in...' : 'Login to LiveEngage'}}</button>
    <button class="col" md-raised-button (click)="lelogout()" color="warn" [hidden]="!(events$ | async).isLoggedIn">Logout of LiveEngage</button>
  </form>
</div>

<!-- Logout of Auditor -->
<div class="modal-footer">
  <button type="submit" class="btn btn-danger" (click)="logout()">Sign out of Auditor</button>
</div>