<div class="modal-header">
  <h5 class="modal-title font-primary">LiveEngage Login</h5>
  <div class="col-1" (click)="dialogRef.close()">
    <i class="far fa-times" aria-hidden="true"></i>
  </div>
</div>
<div class="modal-body">
  <form #loginForm="ngForm">

    <!-- LE account number -->
    <mat-form-field class="col" [hidden]="(apiLogin$ | async).bearer">
      <input matInput placeholder="LiveEngage Account" name="lpSite" [(ngModel)]="leUser.account">
    </mat-form-field>

    <!-- LE user name -->
    <mat-form-field class="col" [hidden]="(apiLogin$ | async).bearer">
      <input matInput placeholder="LiveEngage Username" name="lpUser" [(ngModel)]="leUser.username">
    </mat-form-field>

    <!-- LE password -->
    <mat-form-field class="col" [hidden]="(apiLogin$ | async).bearer">
      <input matInput type="password" placeholder="LiveEngage Password" name="lpPass" [(ngModel)]="leUser.password">
    </mat-form-field>

    <!-- LiveEngage login/logout buttons -->
    <button type="button" class="col btn btn-primary btn-sm" (click)="lelogin()" [hidden]="(apiLogin$ | async).bearer" [disabled]="(apiLogin$ | async).loading">{{(apiLogin$ | async).loading ? 'Logging in...' : 'Login to LiveEngage'}}</button>
    <button type="button" class="col btn btn-danger btn-sm" (click)="lelogout()" [hidden]="!(apiLogin$ | async).bearer">Logout of LiveEngage</button>
  </form>

</div>

<!-- Logout of Auditor -->
<div class="modal-footer">
  <button type="submit" class="btn btn-outline-danger col" (click)="logout()">Sign out of Analyzer</button>
</div>
