<div class="card" id="grid-container">
  <div class="card-body">
    <h5 class="card-title">{{type}}
      <span class="text-muted">({{rows.length | number:'1.0-0'}})</span>
    </h5>

    <!-- conversation grid -->
    <div *ngIf="rows.length" class="row mt-2">
      <div class="col">
        <ngx-datatable #table style="cursor: pointer;" [limit]="15" class="material" [columnMode]="'force'" [rowHeight]="30" [headerHeight]="50"
          [selected]="selected" (activate)="selectRow($event)" [selectionType]="'checkbox'" [footerHeight]="50" [rows]="rows"
          [columns]="columns" (select)='onCheck($event)'>
        </ngx-datatable>
      </div>
    </div>

    <!-- no conversation message -->
    <app-no-results [results]="rows.length > 0" [messageSecondary]="'No '+type+' found'"></app-no-results>

  </div>
</div>

<!-- template for checkbox header -->
<ng-template #checkHeader let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
  <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
</ng-template>

<!-- template for checkbox cell -->
<ng-template #checkCell let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
  <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
</ng-template>

<!-- template for dates -->
<ng-template #dateCell let-value="value">
  {{ value | date:'short'}}
</ng-template>

<!-- cell for percents -->
<ng-template #percentCell let-value="value" let-row="row">
  {{value | percent}}
</ng-template>
