@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import './styles/ngx-datatable.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* hovers */
.fa-chevron-left:hover,
.fa-chevron-right:hover,
.fa-download:hover,
.fa-plus-circle:hover,
.fa-minus-circle:hover {
  color: #b6b6b6;
  cursor: pointer;
}

/* sprites */
.sprite-menu {
  background: url('/assets/sprite-retina.png') no-repeat -120px 0;
  width: 26px;
  height: 26px;
  display: inline-block;
  cursor: pointer;
}
.sprite-positive-green {
  background: url('/assets/mcs_sprite.png') no-repeat -259px -19px;
  width: 18px;
  height: 18px;
  display: inline-block;
}
.sprite-negative-red {
  background: url('/assets/mcs_sprite.png') no-repeat -259px 0;
  width: 18px;
  height: 17px;
  display: inline-block;
}

/* bootstrap overrided */
.card {
  border: 0px solid rgba(0, 0, 0, 0.0);
}
.card,
.card-title,
.card-subtitle,
.navbar,
.font-primary,
.font-secondary, .font-by {
  font-family: MyriadPro, 'sans-serif';
}
.font-primary,
.font-secondary {
  font-size: 1rem;
}
.font-primary {
  color: black;
}
.font-secondary, .font-by {
  color: #9c9c9c;
}
.font-by {
  font-size: 0.9rem;
}
.font-agent {
  color: #707070;
}
.font-consumer {
  color: white;
}
.message-card-consumer {
  background: #5879da;
  border: none;
}
.message-card-agent {
  background: #dedddd;
  border: none;
}
.navbar-brand {
  font-weight: lighter;
  font-size: 24px;
}
.card-title {
  font-weight: normal;
}

/* drop downs */
.dropdown-item > a {
  color: #5d5e60;
}

/*
* Custom styles
*/
@font-face {
  font-family: MyriadPro;
  src: url('/assets/MyriadPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: MyriadPro;
  src: url('/assets/MyriadPro-Semibold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: MyriadPro;
  src: url('/assets/MyriadPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: MyriadPro;
  src: url('/assets/MyriadPro-It.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: MyriadPro;
  src: url('/assets/MyriadPro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
